%dl
  %dt Name
  %dd= form.text_field :name

  %dt Email
  %dd= form.text_field :email

  %dt Password
  %dd= form.password_field :password

  %dt Confirm password
  %dd= form.password_field :password_confirmation

  %dt
    = form.check_box :admin
    %label{for: 'user[admin]'} Admin

  %dt
    = form.check_box :active
    %label{for: 'user[active]'} Active
