%dl
  %dt Name
  %dd= form.text_field :name

  %dt Email
  %dd= form.email_field :email

  %dt Password
  %dd= form.password_field :password

  %dt Customer
  %dd= form.collection_select :customer_id, @customers, :id, :name, :prompt => "Select a Customer"

  %dt
    = form.check_box :admin
    %label{:for=>'user[admin]'} Admin