= form_for @user do |f|
  = render f
  %p= f.submit 'Create User'


%table
  %tr
    %th Name
    %th Password set?
    %th Email
    %th Sites
    %th Admin
    %th Active
    %th

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.password_digest?  ? 'Yes' : 'No'
      %td= user.email
      %td= number_with_delimiter user.sites.count
      %td= user.admin? ? 'Yes' : 'No'
      %td= user.active ? 'Yes' : 'No'
