= form_with model: @user do |f|
  - if @user.errors.any?
    #ErrorModule
      %h2= "#{pluralize @user.errors.count, 'Error'} Prevented This User From Being Created"
      %ol
        - @user.errors.full_messages.each do |error|
          %li= error
  = render f
  %p= f.submit 'Create User'


%table
  %tr
    %th Name
    %th Administrator
    %th Sites

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.admin ? "Yes" : ""
      %td= number_with_delimiter user.sites.count
