= form_for @user do |f|
  - if @user.errors.any?
    #ErrorModule
      %h2= "#{pluralize @user.errors.count, 'Error'} Prevented This User From Being Created"
      %ol
        - @user.errors.full_messages.each do |error|
          %li= error
  = render f
  %p= f.submit 'Create User'


%table
  %tr
    %th Name
    %th Password
    %th Sites
    %th Admin
    
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.password
      %td= number_with_delimiter user.sites.count
      %td= user.admin? ? 'Yes' : 'No'
      