= form_for @user do |f|
  = render f
  %p= f.submit 'Create User'


%table
  %tr
    %th Name
    %th Password
    %th Sites
    %th Admin
    
  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.password
      %td= number_with_delimiter user.sites.count
      %td= user.admin? ? 'Yes' : 'No'
      