= form_with model: @user do |f|
  - if @user.errors.any?
    #ErrorModule
      %h2= "#{pluralize @user.errors.count, 'Error'} Prevented This User From Being Created"
      %ol
        - @user.errors.full_messages.each do |error|
          %li= error
  = render f
  %p= f.submit 'Create User'


%table
  %tr
    %th Name
    %th Email
    %th Groups
    %th Roles
    %th Sites

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td= user.email
      %td
        - user.groups.active.map do |g|
          = link_to g.name, g
      %td
        - user.roles.active.map do |r|
          = link_to r.name, r
      %td= link_to number_with_delimiter(user.sites.count), sites_path
