#Main
  %p Portrait is a web service for capturing a webpage as an image. This particular instance is password protected, but you can download your own copy.

  %ul
    %li= link_to 'Portrait on GitHub', 'http://github.com/jmckible/portrait'
    %li= link_to 'Captured Sites', sites_path
    - if @current_user && @current_user.admin?
      %li= link_to 'Manage Users', users_path
      %li= link_to 'Manage Groups', groups_path
      %li= link_to 'Manage Roles', roles_path
