= form_for @customer do |f|
  - if @customer.errors.any?
    #ErrorModule
      %h2= "#{pluralize @customer.errors.count, 'Error'} Prevented This Customer From Being Created"
      %ol
        - @customer.errors.full_messages.each do |error|
          %li= error
  = render f
  %p= f.submit 'Create Customer'


%table
  %tr
    %th Name
    %th Request Count
    %th Pricing Model
    %th Blocked

  - @customers.each do |customer|
    %tr
      %td= link_to customer.name, customer
      %td= number_with_delimiter customer.request_count
      %td= customer.pricing_model
      %td= customer.blocked? ? 'Yes' : 'No'
