= form_for @site do |f|
  = f.text_field :url
  = f.collection_select :format, Site::SUPPORTED_FORMATS, :to_s, :to_s
  = f.submit 'Capture URL'

%table
  %tr
    %th User
    %th URL
    %th Status
    %th Added
    %th Capture
    %th Format
    %th Selector
  - @sites.each do |site|
    %tr
      %td= link_to site.user.name, users_path
      %td= link_to site.url, site.url
      %td= site.status.capitalize
      %td= site.created_at.strftime '%B %e, %Y %I:%m %p'
      %td= link_to(site.image.url, site.image.url) if site.image
      %td= site.format
      %td= site.selector

= will_paginate @sites
