- form_for @site do |f|
  = f.text_field :url
  = f.submit 'Add'

%table
  %tr
    %th URL
    %th State
    %th Created At
    %th Updated At
    %th Image
  - for site in @sites
    %tr
      %td= link_to site.url, site.url
      %td= site.state.capitalize
      %td= site.created_at
      %td= site.updated_at
      %td= link_to site.image.url, site.image.url

= will_paginate @sites