- form_for @site do |f|
  = f.text_field :url
  = f.submit 'Capture URL'

%table
  %tr
    %th User
    %th URL
    %th State
    %th Added
    %th Image
  - for site in @sites
    %tr
      %td= link_to h(site.user.name), users_path
      %td= link_to site.url, site.url
      %td= site.state.capitalize
      %td= site.created_at.strftime '%B %e, %Y %I:%m %p'
      %td= link_to site.image.url, site.image.url

= will_paginate @sites