= form_for @site do |f|
  = f.text_field :url
  = f.collection_select :format, Site::SUPPORTED_FORMATS, :to_s, :to_s
  = f.submit 'Capture URL'

%table
  %tr
    %th URL
    %th Capture
    %th Date
    %th Status
  - @sites.each do |site|
    %tr
      %td
        = link_to site.url, site.url
        = site.selector
      %td= link_to(site.format, site.image&.url)
      %td= link_to site.created_at.strftime('%b %e %l:%m %p'), site.user
      %td= site.status.capitalize

= will_paginate @sites
