= form_with model: @site do |f|
  = f.text_field :url
  = f.submit 'Capture URL'

%table
  %tr
    %th User
    %th URL
    %th Status
    %th Added
    %th Image
  - @sites.each do |site|
    %tr
      %td= link_to site.user.name, users_path
      %td= link_to site.url, site.url
      %td= site.status.capitalize
      %td= site.created_at.strftime '%B %e, %Y %I:%m %p'
      %td= link_to(site.image.filename, url_for(site.image)) if site.image.attached?

-#= will_paginate @sites
