!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    %title .portrait.
  %body
    %h1 portrait
    %span
      -if current_user
        =link_to "Logout #{current_user.name}", '/logout'
      -else
        = link_to "Login", '/login'

    #Content
      - if flash[:notice]
        %p.notice= flash[:notice]
      - if flash[:warn]
        %p.warn= flash[:warn]

      = yield

    %footer
      - unless params[:controller] == 'home'
        = link_to "Home", root_path
