!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    %title .portrait.
  %body
    %h1
      %a(href="/") portrait
    %ul.navigation
      %li
        - if logged_in?
          = link_to 'Log out', logout_path, method: :delete
        - else
          = link_to 'Log in', login_path
    #Content= yield

  = javascript_include_tag :application