!!! Strict
%html{html_attrs('en-US')}
  %head
    %title .portrait.
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    = render 'layouts/nav'
    %div.container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      %div.center.jumbotron
        = yield
