!!! Strict
%html{html_attrs('en-US')}
  %head
    = stylesheet_link_tag 'application'
    = javascript_pack_tag 'application'
    %title .portrait.
  %body
    %h1= link_to 'portrait', root_url

    - if current_user
      %span Logged into #{current_customer.name} as #{current_user.name}.
      %div= link_to 'Logout now', sessions_destroy_url, method: :delete
    - else
      %span Not logged in.
      %div= link_to 'Login now', sessions_new_url

    - if flash.any?
      #ErrorModule
        %ul
          - flash.each do |key, value|
            %li= value
    
    #Content= yield
